<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <script defer src="assets/js/main.js"></script>
    <script defer src="assets/js/components/catinfo.js"></script>
    <script defer src="assets/js/components/catfact.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <span>CAT</span>
                <img class="logo" src="assets/cat-whiskers.svg" alt="">
                <span>FACTS</span>
            </div>
            <div class="icon-container">
                <a href="/favorites"><img id="favorite-icon" class="header-icon" src="assets/favorite.svg" alt="">Favorites</a>
            </div>
        </div>      
    </header>
    <main id="main">
        <h3>CAT INFO</h3>
        <section class="favorites-info-container">
            
        </section>
        <h3>CAT FACTS</h3>
        <section class="favorites-fact-container">
            
        </section>
    </main>
</body>
</html>