<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <script defer src="assets/js/main.js"></script>
    <script defer src="assets/js/components/catinfo.js"></script>
    <script defer src="assets/js/components/catfact.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <span>CAT</span>
                <img class="logo" src="assets/cat-whiskers.svg" alt="">
                <span>FACTS</span>
            </div>
            <div class="icon-container">
                <a href="/favorites"><img id="favorite-icon" class="header-icon" src="assets/favorite.svg" alt="">Favorites</a>
            </div>
        </div>      
    </header>
    <main id="main" class="main">
        <section class="cat-hero cat-hero-orange">
            <article>
                Like birds, cats have a homing ability that uses its biological clock, the angle of the sun, and the Earth's magnetic field. A cat taken far from its home can return to it. But if a cat's owners move far from its home, the cat can't find them.
            </article>
            <img src="assets/calico.jpg" alt="">
        </section>

        <h3>CAT INFO</h3>
        <section class="info-container">
            
        </section>

        <section class="cat-hero cat-hero-black">
            <article>
                It may take as long as 2 weeks for a kitten to be able to hear well.  Their eyes usually open between 7 and 10 days, but sometimes it happens in as little as 2 days.
            </article>
            <img src="assets/cat-glasses.jpg" alt="">
        </section>

        <h3>CAT FACTS</h3>
        <section class="fact-container">
           
        </section>
    </main>
</body>
</html>